header  {
    padding: 20%;
    background-image: url(https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/managed/consumer/seo/home/hero_v3/hero_desktop.png);
    background-position: center;
}

.grey   {
    background-color: #292929;
}
hr  {
   display: flex;
}